/*@import url(//fonts.googleapis.com/css?family=Muli:300,400,600|Inconsolata);*/
@import url(//fonts.googleapis.com/css?family=Knockout:300,400,600|Inconsolata);

/* Custom Bootstrap overrides */

/* Necessary entries for Bootstrap NavBarv */
body {
    overflow-y: scroll;
    line-height: 1;
    padding-top: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    background-color: #265039; /* Guideline Dark Green */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;      
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
}

a {
    color: #7D7E81; /* Guideline Gray */
}

.btn-primary {
    color: white;
    background-color: #40996D; /* Guideline Med Green */
    border-color: #414042;
}

    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary:hover {
        color: white;
        background-color: #265039; /* Guidleline Dark Green */
        border-color: #7D7E81; /* Guidleline Med Gray */
    }

.carousel-inner {
    border-radius: 5px;
    overflow: hidden;
    color: white;
    width: 100%;
}

/* End BootStrap Custom */


/******************************/
/****** My Custom stuff  ******/
/******************************/

/* Unique Carousel ID */
#my-carousel-control {
    max-width: 720px;
}

.my-no-border {
    border: none;
}

/* My Logos - Spacing and Sizing */

.my-big-logo {
    height: 300px;
}

.my-small-logo {   
    padding-right: 8px;
    height: 40px;
}

.my-small-logo-2 {

    padding-left: 8px;
    height: 40px;
}

.my-med-logo {
    padding-right: 8px;
    height: 60px;
}

/*** Used on Church Contact Page ***/
.my-box-church {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    background-color: #4a4b4c; /* Guideline Logo Gray */
    color: white;
    border: none;
}

    .my-box-church:hover,
    .my-box-church:focus,
    .my-box-church:active {
        background-color: #4DAF7C; /* Guideline-Med-Green */
        color: #4a4b4c; /* Guideline Logo Gray */
    }

    .my-box-church a {
        text-shadow: .5px .5px 0px black;
        font-weight: 600;
        color: white;
        font-size: 48px;
    }

        .my-box-church a:hover,
        .my-box-church a:focus,
        .my-box-church a:active {
            color: #4a4b4c; /* Guideline Logo Gray */
        }

/*** Gallery stuff ***/

/* Used in Gallery Group Auto Top function
   Must be #ID : Used by JS document.getElementById */
#my-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
}

    #my-button:hover {
        background-color: #555;
    }

/*** Gallery buttons and groups ***/

.my-back-button-image {
    height: 18px;
}

.my-group-buttons {
    min-width: 76px;
    height: 35px;
    font-size: 16px;
}

.my-group-buttons-webart {
    min-width: 60px;
    height: 35px;
    font-size: 16px;
}

/*** END *** Gallery stuff ***/

/*** My custom card replacements ***/

.my-card {
    border-radius: 0;
    border-color: black;
    border-width: 3px;
}

.my-card-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #265039; /* Guideline Dark Green */
    color: white;
}

.my-card-image {
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 3px;
    height: 30px;
}

.my-card-body {  
    background-color: white;
    color: black;
}

.my-card-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #84CBA0; /* Guideline Light Green */
    color: white;
}
/*** END *** My Custom card stuff ***/

/****** TOS & Privacy Policies use this stuff ******/
.my-box {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #60605F; /* TOS & Privacy Gray */
    color: black;
    display: block;
    text-decoration: none;
}

.my-gradient-heading {
    width: auto;
    background: linear-gradient(90deg, #60605F, transparent 100%);
    color: black;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    max-width: 100%;
    border-radius: 15px;
    font-weight: bold;
}

.my-div-spacing {
    width: auto;
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

.my-div-spacing_bullet:before {
    width: auto;
    content: "-";
    padding: 5px 10px;
    max-width: 100%;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
}

/***** END *** TOS & Privacy stuff *****/

/* Iframe style for Schedule and other frame displays */
div, iframe {
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    border-style: none;
}

.wrap {
    width: 320px;
    height: 192px;
    padding: 0;
    overflow: hidden;
}

.frame {
    width: 1280px;
    height: 768px;
    border: 0;
    -ms-transform: scale(0.25);
    -moz-transform: scale(0.25);
    -o-transform: scale(0.25);
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/****** END *** Iframe stuff ******/

/*****************************************************************************/
/* NOTE: Set default PHONE properties above and inneractive properties below */
/*****************************************************************************/

/* X-Small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) {
    .my-card {
        border-radius: 3px;
    }       

    .my-card-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }   

    .my-card-footer {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .my-video {
        border-radius: 3px;
    }

}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {

    .my-card {
        border-radius: 3px;
    }

    .my-card-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .my-card-footer {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .my-video {
        border-radius: 3px;
    }
 
}

/* Medi
    um devices (tablets, less than 992px) */
@media (min-width: 991.98px) {

    .my-card {
        border-radius: 3px;
    }

    .my-card-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .my-card-footer {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .my-video {
        border-radius: 3px;
    }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1399.98px) {

    .my-card {
        border-radius: 3px;
    }

    .my-card-header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .my-card-footer {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    .my-video {
        border-radius: 3px;
    }

}



